    </div>
  <div class="bar"><img src="https://cdn.rawgit.com/creativelive/appear/715cd5df6c518493dc406365b0026cc7da92cf78/assets/magic-hat.png" class="hat"></div>
  <div class="trick"></div>
</body>
</html>
