<!DOCTYPE html>
<html lang="en">
<head>
<title>appear.js</title>
<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
<style>
/*  [normalize css](https://github.com/necolas/normalize.css) */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:0.67em 0;}h2{font-size:1.5em;margin:0.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:0.83em;margin:1.67em 0;}h6{font-size:0.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000;}p,pre{margin:1em 0}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none}q:before,q:after{content:'';content:none;}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal;}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

/* entire viewport cover div with vertical/horizontal centered title */
html, body {
  height: 100%;
  background-color: #FFF;
}
.cover {
  height: 100%;
}
.title {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;  height: 250px;
}

html {
  font-family:"Helvetica Neue",Helvetica,Verdana,sans-serif;
  color: #000;
  font-weight: 300;
  line-height: 1.7;
}

h1, h2, h3 {
  font-family:"Old Standard TT";
  font-weight: 400;
  line-height: 1.3;
  margin: 5px;
}

h1 {
  text-align: center;
  font-size: 6em;
}

h1 img {
  height: 32px;
}

h2 {
  font-size: 70px;
  width:95%;
  border-bottom: 2px solid black;
  padding: 0 10px;
  margin-right: 40px
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 200px 10px 100px 10px;
}

pre code {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  display: block;
  padding: 9.5px;
  font-size: 13px;
  line-height: 1.428571429;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
}

code {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  padding: 4px;
  font-size: 13px;
  line-height: 1.428571429;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
}

.hat {
    margin-bottom:-5px;
    width:100%;
    max-width:696px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.trick {
  bottom:0;
  left:0;
  width: 100%;
  position:fixed;
  height: 40px;
  background-color: black;
}

.bar {
  height: 40px;
  background-color: black;
}

ul {
  margin:0 0 0 20px;
  padding: 0;
}

li {
  padding: 10px;
  line-height: 1.6em;
  list-style-type: circle;
  /*list-style-type: none;*/

}

/*li:before{
   content: '';
   display: inline-block;
   height: 32px;
   width: 32px;
   margin: 0 12px 0 0;
   background-image: url(https://cdn.rawgit.com/creativelive/appear/ac50b538687b3ab111131a02780373de479fca50/assets/appear-64.png);
   background-size: contain
}*/

hr {
  margin-top: 50px;
  margin-right: 1.8%;
  border: 1px solid black;
}

/* http://prismjs.com/download.html?themes=prism-funky&languages=markup+css+clike+javascript */
/**
 * prism.js Funky theme
 * Based on “Polyfilling the gaps” talk slides http://lea.verou.me/polyfilling-the-gaps/
 * @author Lea Verou
 */



/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .2em;
  border-radius: .3em;
  box-shadow: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #aaa;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #0cf;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #0cf;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.toke.variable {
  color: #aaa;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: deeppink;
}


.token.regex,
.token.important {
  color: orange;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}
</style>
<script>
<%- appear %>
</script>
<script>
appear((function(){
  var trick, hat, rabbit = true, count = 0;
  return {
  init: function(){
    trick = document.getElementsByClassName('trick')[0];
    hat = document.getElementsByClassName('hat')[0];
  },
  // function to get all elements to track
  elements: function elements(){
    return document.getElementsByClassName('hat');
  },
  // function to run when an element is in view
  appear: function appear(el){
    trick.style.display = 'none';
  },
  disappear: function disappear(el){
    trick.style.display = 'block';
    if(++count > 1 && rabbit && Math.floor((Math.random() * 5) + 1) === 1) {
      hat.setAttribute('src', 'https://cdn.rawgit.com/creativelive/appear/715cd5df6c518493dc406365b0026cc7da92cf78/assets/magic-hat-empty.png');
      rabbit = false;
    } else if (!rabbit)  {
      rabbit = true;
      hat.setAttribute('src', 'https://cdn.rawgit.com/creativelive/appear/715cd5df6c518493dc406365b0026cc7da92cf78/assets/magic-hat.png');
    }
  },
  deltaSpeed: 100,
  deltaTimeout: 250,
  reappear: true,
  bounds: 0
  };
}()));
</script>
<% include prismjs %>

<body>

<div class="cover">
  <div class="title">
    <h1>appear<img src="https://cdn.rawgit.com/creativelive/appear/ac50b538687b3ab111131a02780373de479fca50/assets/appear-64.png"/>js</h1>
  </div>
</div>
<div class="content">
