<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="<%- img.logo64 %>" type="image/png">
<title>appear.js <%= (locals.title || '') %></title>
<meta name="description" content="appear.js dom tracking">
<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
<style>
<% include css/main %>
</style>
