<% include header %>
<script>
<%- js.appearmin %>
<% include js/hat %>
<% include js/prismjs %>
</script>
</head>
<body>
<% include cover %>
<div class="content">
<%- readme %>
</div>

<div class="bar"><img src="<%- img.hat %>" class="hat"></div>
<div class="trick"></div>
</body>
</html>
